header{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 70px;
	background-color: rgba(0,0,0,0);
	position: fixed;
	top: 0;
	z-index: 999;
}

.header .header-logo{
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
}

.header .header-menu{
	float: right;
	margin-right: 30px;

}

.header .header-menu a{
	margin-right: 15px;
	color: #FFFFFF;
}

.header .header-menu a:hover {
	color: ;
}
#search{
	border-radius: 40px;
	border: 3px solid #0984e3;
	outline: none;
	padding: 5px;
	padding-left: 20px;
	outline: none;
}
/*
Banner
*/
.banner {
	margin-top: -30px;
}

.block .banner .banner-img{
	position: relative;
}
.form{
	position: absolute;
	width: 50%;
	text-align: left;
	top: 30%;
	margin-left: 25%;
}
.block .banner .Nouveau{
	position: absolute;
	width: 100%;
	text-align: left;
	top: 30%;
	margin-left: 65%;
}
.group1 h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 25px;
}
.group1 label{
	display: block;
	padding: 0.5rem 0;
}
.group1 textarea{
	width: 565px;
  	height: 150px;
}
.group1 input[type="file"]{
	padding: 8px;
	margin-left: 20px;
	margin-top: 10px;
}
.group1 .picture p{
	opacity: 0.8;
}
.group1 .commentaire textarea.comment::placeholder{
	font-weight: 400;
	line-height: 1.5em;
	text-indent: 0.5em;
}
.group1 input, select, textarea .btn{
	width: 100%;
	padding: 12px;
	border:	none;
	border-radius: : 4px;
	box-sizing: border-box;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
	margin-top: 6px;
	margin-bottom: 16px;
}
.group1 input:hover,
	.btn:hover {
 	 opacity: 1;
}
.group1 input[type=submit]{
	background-color: #45a049;
	color:	white;
	cursor: pointer;
}
.group1 input[type=submit]:hover {
  	background-color: #45a049;
}

form {
  width: 600px;
  padding: 1em;
  border: 1px solid #CCC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dcdde1;
}

input {
	width: 100%;
}

textarea{
	resize: none;
}
