header{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 70px;
	background-color: rgba(0,0,0,0);
	position: fixed;
	top: 0;
	z-index: 999;
}

.header .header-logo{
	color: #2c3e50;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
}

.header .header-menu{
	float: right;
	margin-right: 30px;

}

.header .header-menu a{
	margin-right: 15px;
	color: #FFFFFF;
}

.header .header-menu a:hover {
	color: #e74c3c;
}
#search{
	border-radius: 40px;
	border: 3px solid #0984e3;
	outline: none;
	padding: 5px;
	padding-left: 20px;
	outline: none;
}
/*
Banner
*/
.banner {
	margin-top: -30px;
}

.block .banner .banner-img{
	position: relative;
}
.form{
	position: absolute;
	width: 50%;
	text-align: left;
	top: 30%;
	margin-left: 25%;
}
.block .banner .Nouveau{
	position: absolute;
	width: 100%;
	text-align: left;
	top: 30%;
	margin-left: 65%;
}

form {
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  position: absolute;
  text-align: left;
  top: 30%;
  margin-left: 25%;
  background-color: #dcdde1;
}
legend{
	color: #000000;
	font-family: 'Montserrat', sans-serif;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
  color: #487eb0;
}
.input {
  padding-left: 90px;
  position: center;

}

