/*
Header
*/
.header{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;
	line-height: 70px;
	background-color: rgba(0,0,0,0);
	position: fixed;
	top: 0;
	z-index: 999;
}

.header .header-logo{
	color: #2c3e50;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
}

.header .header-menu{
	float: right;
	margin-right: 30px;

}

.header .header-menu a{
	margin-right: 15px;
	color: #FFFFFF;
}

.header .header-menu a:hover {
	color: #e74c3c;
}
.header .header-menu input[type=text]{
	background-image: url('searchicon.png');
	background-position: 10px 10px;
}
#search{
	border-radius: 40px;
	border: 3px solid #0984e3;
	outline: none;
	padding: 5px;
	padding-left: 20px;
	outline: none;
}
/*
Banner
*/
.banner {
	margin-top: -30px;
}

.banner .banner-img{
	position: relative;
}

.banner .banner-content{
	position: absolute;
	width: 100%;
	text-align: left;
	top: 30%;
	margin-left: 15px;
}

.banner .banner-content h1,
.banner .banner-content h2,
.banner .banner-content .ref-button{
	color: #2d3436;
}
.banner .banner-content_2{
	position: absolute;
	width: 90%;
	float: left;
	text-align: left;
	top: 70%;
}
.banner .banner-content_2 h2{
	color: #2d3436;
	margin-left: 10px;
}
#moncadre{
   border: 3px solid #0984e3;
   width:90px;
   height:30px;
   position: absolute;
   border-radius: 40px;
   background-color: #FFFFFF;
}
.banner .banner-content_2 div{
	text-align: center;
}
/*
Boddy
*/
th{
	color: #0984e3;
	font-family: 'Montserrat', sans-serif;
}
td{
	border: medium solid #000000;
}

table {
	border-collapse: collapse;
	width: 75%;
	margin: auto;
	top: 80%;
}
